<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1>
        Hello, {{name}}!
    </h1>
    <p>
        Today's technology headlines are...
    </p>
    <ol>
    <table>
    <tr>
    <th>Title</th>
    <th>Thumbnail</th>
    </tr>
    {%for headline in headlines_list%}
    <tr>
    <th> <a href={{headline['url']}}>{{headline['title']}}</a>
    <th> <img width='200', src={{headline['multimedia'][0]['url']}} />
    </tr>
    {%endfor%}
    </ol>
    </tr>
    </table>
</body>
</html>
